body {
  background: linear-gradient(rgba(0, 0, 0, 0.285), rgba(0, 0, 0, 0.384)),
    url("../assets/backgroundfix.jpg");
  background-size: cover;
  background-position: center;
}

.planet {
  font-family: "Irish Grover", cursive;
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0 0 30px black inset, 0 0px 130px 40px rgba(67, 67, 67, 0.6) inset,
    0 0px 23px 4px rgba(44, 42, 41, 0.6) inset,
    0 -10px 130px rgba(23, 21, 20, 0.6);
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 80px;
  color: white;
  overflow: hidden;
}

.planet::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: url("../assets/jupiter2.jpg") center/cover no-repeat;
  animation: slide-bg 30s linear infinite;
  z-index: 0;
  will-change: transform;
  box-shadow: 0 0 30px black inset, 0 0px 130px 40px rgba(67, 67, 67, 0.6) inset,
    0 0px 23px 4px rgba(44, 42, 41, 0.6) inset,
    0 -10px 130px rgba(23, 21, 20, 0.6);
}

.planet > * {
  position: relative;
  z-index: 2;
}

@keyframes slide-bg {
  from {
    background-position: 0 center;
  }
  to {
    background-position: 100% center;
  }
}